.camera-container {
    display: flex;
    max-width: 600;
    max-height: auto;
    align-items: center; /* Vertically center items */
    position: absolute;
  }
  .camera-controls {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align buttons to the left */
  }
  .camera-preview{
    width: 100;
  }